extends ../../layouts/LayoutComponent
include ../../mixins/common/Avatar

append variables
  -
    var pageHeader = {
      title: 'Cards',
      description: 'Bootstrap’s cards provide a flexible and extensible content container with multiple variants and options.',
      url: `https://getbootstrap.com/docs/${bootstrapVersion}/components/card/`,
      linkText: 'Cards on Bootstrap',
      breadcrumb:[
        {
          name:'Components',
          link:'#!'
        },
        {
          name:'Cards',
          active:true
        },
      ]
    }
  -
    var rightNav = [
      {
        name: 'Basic Example',
        id: '#basic-example',
      },
      {
        name: 'Card with list',
        id: '#card-with-list',
      },
      {
        name: 'Image overlays',
        id: '#image-overlays',
      },
      {
        name: 'Horizontal',
        id: '#horizontal',
      },
      {
        name: 'Card Groups',
        id: '#card-groups',
      },
      {
        name: 'Card Background Styles',
        id: '#card-background-styles',
      },
      {
        name: 'Card Border Styles',
        id: '#card-border-styles',
      },
    ]

block component
  .row 
    .col-lg-6
      +ComponentCard({title:'Basic Example'}).my-4
        .card(style='width:20rem;')
          = '\n'
          img.card-img-top(src=`${CWD}assets/img/crane.png`, alt='...')
          .card-body
            h5.card-title Title goes here
            p.card-text Here is the example of the Multiple Container Sortable feature of the 
            = '\n'
            button.btn.btn-primary Go somewhere

    .col-lg-6
      +ComponentCard({title:'Card with list'}).my-4
        .card(style='width:20rem;') 
          = '\n'
          a.dropdown-item.fw-bold.text-warning(href='#!')
            = '\n'
            span.fas.fa-crown.me-1
            = '\n'
            span Go Pro
            = '\n'
          .dropdown-divider
          = '\n'
          a.dropdown-item(href='#!') Set status
          = '\n'
          a.dropdown-item(href='../../pages/user/profile.html') Profile & account
          = '\n'
          a.dropdown-item(href='#!') Feedback
          = '\n'
          .dropdown-divider
          = '\n'
          a.dropdown-item(href='../../pages/user/settings.html') Settings
          = '\n'
          a.dropdown-item(href='../../pages/authentication/card/logout.html') Logout

  +ComponentCard({title:'Image overlays'}).my-4
    .card.text-white.overflow-hidden(style='width:30rem;') 
      = '\n'
      img.card-img-top(src=`${CWD}assets/img/4.jpg` alt='...')
      .card-img-overlay.d-flex.align-items-end
        div
          h4.card-title.text-white Card title
          p.card-text
            | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.

  +ComponentCard({title:'Horizontal'}).my-4
    .card(style="width:32rem;")
      .row.g-0 
        .col-md-4 
          = '\n'
          img.img-fluid.rounded-start(src=`${CWD}assets/img/1.jpg` alt="...")
        .col-md-8 
          .card-body 
            h4.card-title Card Title
            p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            p.card-text 
              small.text-muted Last updated 3 mins ago

  +ComponentCard({title:'Card Groups'}).my-4
    .card-group 
      .card 
        = '\n'
        img.card-img-top(src=`${CWD}assets/img/4.jpg` alt="...")
        .card-body 
          h4.card-title First card title
          p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
          p.card-text 
            = '\n'
            small.text-muted Last updated 45 mins ago
      .card 
        = '\n'
        img.card-img-top(src=`${CWD}assets/img/2.jpg` alt="...")
        .card-body 
          h4.card-title First card title
          p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
          p.card-text 
            = '\n'
            small.text-muted Last updated 45 mins ago
      .card 
        = '\n'
        img.card-img-top(src=`${CWD}assets/img/3.jpg` alt="...")
        .card-body 
          h4.card-title First card title
          p.card-text This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
          p.card-text 
            = '\n'
            small.text-muted Last updated 45 mins ago
      .card 
        = '\n'
        img.card-img-top(src=`${CWD}assets/img/4.jpg` alt="...")
        .card-body 
          h4.card-title First card title
          p.card-text This is a wider card with supporting text below as a natural lead-in a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
          p.card-text 
            = '\n'
            small.text-muted Last updated 45 mins ago

  +ComponentCard({title:'Card Background Styles'}).my-4
    .row.g-4 
      .col-sm-6.col-md-4.col-lg-3 
        .card.text-white.bg-primary 
          .card-body 
            h4.card-title.text-white Primary Card 
            p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
      .col-sm-6.col-md-4.col-lg-3 
        .card.text-white.bg-secondary 
          .card-body 
            h4.card-title.text-white Secondary Card 
            p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
      .col-sm-6.col-md-4.col-lg-3 
        .card.text-white.bg-success 
          .card-body 
            h4.card-title.text-white Success Card 
            p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
      .col-sm-6.col-md-4.col-lg-3 
        .card.text-white.bg-danger 
          .card-body 
            h4.card-title.text-white Danger Card 
            p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
      .col-sm-6.col-md-4.col-lg-3 
        .card.text-white.bg-warning 
          .card-body 
            h4.card-title.text-white Warning Card 
            p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
      .col-sm-6.col-md-4.col-lg-3 
        .card.text-white.bg-info 
          .card-body 
            h4.card-title.text-white Info Card 
            p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
      .col-sm-6.col-md-4.col-lg-3 
        .card.text-dark.bg-light 
          .card-body 
            h4.card-title.text-dark Light Card 
            p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
      .col-sm-6.col-md-4.col-lg-3 
        .card.text-white.bg-dark 
          .card-body 
            h4.card-title.text-white Dark Card 
            p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.

  +ComponentCard({title:'Card Border Styles'}).my-4
    .row.g-4
      .col-sm-6.col-md-4.col-lg-3 
        .card.border.border-primary
          .card-body 
            h4.card-title Primary Border Card 
            p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
      .col-sm-6.col-md-4.col-lg-3 
        .card.border.border-secondary
          .card-body 
            h4.card-title Secondary Border Card 
            p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
      .col-sm-6.col-md-4.col-lg-3 
        .card.border.border-success
          .card-body 
            h4.card-title Success Border Card 
            p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
      .col-sm-6.col-md-4.col-lg-3 
        .card.border.border-danger
          .card-body 
            h4.card-title Danger Border Card 
            p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
      .col-sm-6.col-md-4.col-lg-3 
        .card.border.border-warning
          .card-body 
            h4.card-title Warning Border Card 
            p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
      .col-sm-6.col-md-4.col-lg-3 
        .card.border.border-info
          .card-body 
            h4.card-title Info Border Card 
            p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
      .col-sm-6.col-md-4.col-lg-3 
        .card.border.border-light
          .card-body 
            h4.card-title Light Border Card 
            p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
      .col-sm-6.col-md-4.col-lg-3 
        .card.border.border-dark
          .card-body 
            h4.card-title Dark Border Card 
            p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.