append variables
    -
        var applicants = [
            {
                name:'Jason Kwon',
                image:`${CWD}assets/img/gallery/user5.png`
            },
            {
                name:'Alex Rose',
                image:`${CWD}assets/img/gallery/user6.png`
            },
            {
                name:'Lizzie Ulrich',
                image:`${CWD}assets/img/gallery/user7.png`
            },
        ]
        
        
mixin Contributors
    +Section
        .row.align-items-center.gx-1
            .col-xl-6
                +InfoText({
                    img:`${CWD}assets/img/icons/icon3.png`,
                    title:'Engage highly committed contributors',
                    details:'You need talented people on-demand across various tasks that your full-time workforce can’t prioritize at the moment. As an Open Enterprise, you can easily fund tasks and have people apply to work on them in return for funds or shares.'
                })
            .col-xl-6
                .row.justify-content-center.gx-4
                    .col-md-10
                        .card.box-shadow-b.p-2.p-md-3
                            .card-body.flex-between-center.pb-0
                                h5.mb-0 Write a how-to on Open Enterprise
                                span.badge.rounded-pill.bg-success.p-2.fs-0 1 SHARE
                            .card-body
                                p.mb-0 Looking for an amazing copywriter using Open Enterprise to help us write an article on how to get started.
                    .col-sm-12.col-md-6.mt-4
                        .card.px-3.py-4.bg-warning
                            .card-body
                                h2 3 applicants
                                each applicant in applicants
                                    +Applicant(applicant)
                    .col-sm-12.col-md-5
                        .card.p-2.mt-4.mt-md-5.border-success
                            .card-body
                                .card-text.text-center
                                    +Avatar(`${CWD}assets/img/gallery/axel.png`,70)
                                    h4.mt-2.mb-1 Axel Rose 
                                    p.text-secondary UX Designer
                                .d-flex.text-1000
                                    p.mb-0.flex-1 4 COMMITS
                                    +Rating(4.8)
                                button.btn.btn-lg.btn-dark.w-100.mt-3 View Profile
