append variables
  -
    var category= [
      {
        image:'red-tshirt.png',
        title:'Red T-Shirt',
        prevPrice:'$200',
        price:'$175',

      },
      {
        image:'pink-tshirt.png',
        title:'Pink T-Shirt',
        prevPrice:'$200',
        price:'$175',
      },
      {
        image:'orange-tshirt.png',
        title:'Orange T-Shirt',
        prevPrice:'$200',
        price:'$175',
      },
      {
        image:'purple-tshirt.png',
        title:'Purple T-Shirt',
        prevPrice:'$200',
        price:'$175',
      },
       {
        image:'white-tshirt.png',
        title:'White T-Shirt',
        prevPrice:'$200',
        price:'$175',

      },
      {
        image:'sky-tshirt.png',
        title:'Sky T-Shirt',
        prevPrice:'$200',
        price:'$175',
      },
      {
        image:'yellow-tshirt.png',
        title:'Yellow T-Shirt',
        prevPrice:'$200',
        price:'$175',
      },
      {
        image:'black-tshirt.png',
        title:'Black T-Shirt',
        prevPrice:'$200',
        price:'$175',
      },
      {
        image:'shirt-1.png',
        title:'Shirt',
        prevPrice:'$200',
        price:'$175',
      },
      {
        image:'shirt-2.png',
        title:'Gray Shirt',
        prevPrice:'$200',
        price:'$175',
      },
      {
        image:'shirt-3.png',
        title:'White Shirt',
        prevPrice:'$200',
        price:'$175',
      },
      {
        image:'shirt-4.png',
        title:'Black Shirt',
        prevPrice:'$500',
        price:'$275',
      },
         {
        image:'shirt-5.png',
        title:'Shirt',
        prevPrice:'$200',
        price:'$175',
      },
      {
        image:'shirt-6.png',
        title:'Gray Shirt',
        prevPrice:'$200',
        price:'$175',
      },
      {
        image:'shirt-7.png',
        title:'White Shirt',
        prevPrice:'$200',
        price:'$175',
      },
      {
        image:'shirt-8.png',
        title:'Black Shirt',
        prevPrice:'$500',
        price:'$275',
      },
      {
        image:'shoe-1.png',
        title:'Shoe',
        prevPrice:'$200',
        price:'$175',
      },
      {
        image:'shoe-2.png',
        title:'Shoe',
        prevPrice:'$500',
        price:'$275',
      },
      {
        image:'shoe-3.png',
        title:'Shoe',
        prevPrice:'$200',
        price:'$175',
      },
      {
        image:'shoe-4.png',
        title:'Shoe',
        prevPrice:'$500',
        price:'$275',
      },
      {
        image:'shoe-5.png',
        title:'Shoe',
        prevPrice:'$200',
        price:'$175',
      },
      {
        image:'shoe-6.png',
        title:'Shoe',
        prevPrice:'$500',
        price:'$275',
      },
      {
        image:'shoe-7.png',
        title:'Shoe',
        prevPrice:'$200',
        price:'$175',
      },
      {
        image:'shoe-8.png',
        title:'Shoe',
        prevPrice:'$500',
        price:'$275',
      },

      {
        image:'watch-1.png',
        title:'Watch',
        prevPrice:'$500',
        price:'$275',
      },
      {
        image:'watch-2.png',
        title:'Watch',
        prevPrice:'$500',
        price:'$275',
      },
      {
        image:'watch-3.png',
        title:'Watch',
        prevPrice:'$500',
        price:'$275',
      },
      {
        image:'watch-4.png',
        title:'Watch',
        prevPrice:'$500',
        price:'$275',
      },
      {
        image:'watch-5.png',
        title:'Watch',
        prevPrice:'$500',
        price:'$275',
      },
      {
        image:'watch-6.png',
        title:'Watch',
        prevPrice:'$500',
        price:'$275',
      },
      {
        image:'watch-7.png',
        title:'Watch',
        prevPrice:'$500',
        price:'$275',
      },
      {
        image:'watch-8.png',
        title:'Watch',
        prevPrice:'$500',
        price:'$275',
      },
      {
        image:'sunglass-1.png',
        title:'Sunglass',
        prevPrice:'$500',
        price:'$275',
      },
      {
        image:'sunglass-2.png',
        title:'Sunglass',
        prevPrice:'$500',
        price:'$275',
      },
      {
        image:'sunglass-3.png',
        title:'Sunglass',
        prevPrice:'$500',
        price:'$275',
      },
      {
        image:'sunglass-4.png',
        title:'Sunglass',
        prevPrice:'$500',
        price:'$275',
      },
      {
        image:'sunglass-5.png',
        title:'Sunglass',
        prevPrice:'$500',
        price:'$275',
      },
      {
        image:'sunglass-6.png',
        title:'Sunglass',
        prevPrice:'$500',
        price:'$275',
      },
      {
        image:'sunglass-7.png',
        title:'Sunglass',
        prevPrice:'$500',
        price:'$275',
      },
      {
        image:'sunglass-8.png',
        title:'Sunglass',
        prevPrice:'$500',
        price:'$275',
      },
      {
        image:'bagpacks-1.png',
        title:'Sunglass',
        prevPrice:'$500',
        price:'$275',
      },
      {
        image:'bagpacks-2.png',
        title:'Bagpacks',
        prevPrice:'$500',
        price:'$275',
      },
      {
        image:'bagpacks-3.png',
        title:'Bagpacks',
        prevPrice:'$500',
        price:'$275',
      },
      {
        image:'bagpacks-4.png',
        title:'Bagpacks',
        prevPrice:'$500',
        price:'$275',
      },
      {
        image:'bagpacks-5.png',
        title:'Bagpacks',
        prevPrice:'$500',
        price:'$275',
      },
      {
        image:'bagpacks-6.png',
        title:'Bagpacks',
        prevPrice:'$500',
        price:'$275',
      },
      {
        image:'bagpacks-7.png',
        title:'Bagpacks',
        prevPrice:'$500',
        price:'$275',
      },
      {
        image:'bagpacks-8.png',
        title:'Bagpacks',
        prevPrice:'$500',
        price:'$275',
      },
    ];


mixin CategoryItems(config)
  .col-sm-6.col-md-3.mb-3.mb-md-0.h-100
    .card.card-span.h-100.text-white
      img.img-fluid(src=`${CWD}assets/img/gallery/${config.image}` alt='...').h-100
      .card-img-overlay.ps-0    
      .card-body.ps-0.bg-200 
        h5.fw-bold.text-1000.text-truncate=config.title 
        .fw-bold
          span.text-600.me-2.text-decoration-line-through=config.prevPrice
          span.text-primary=config.price
      a.stretched-link(href='#')

mixin ShopCategory
  section#categoryWomen
    .container
      .row.h-100
        .col-lg-7.mx-auto.text-center.mb-6
          h5.fw-bold.fs-3.fs-lg-5.lh-sm.mb-3 Shop By Category

        .col-12
          nav
            .nav.nav-tabs.majestic-tabs.mb-4.justify-content-center#nav-tab(role='tablist')
              button.nav-link.active#nav-women-tab(data-bs-toggle='tab' data-bs-target='#nav-women' type='button' role='tab' aria-controls='nav-women' aria-selected='true') For Women
              button.nav-link#nav-men-tab(data-bs-toggle='tab' data-bs-target='#nav-men' type='button' role='tab' aria-controls='nav-men' aria-selected='false') For Men
            .tab-content#nav-tabContent
              .tab-pane.fade.show.active#nav-women(role='tabpanel' aria-labelledby='nav-women-tab')
                ul#pills-tab-women.nav.nav-pills.justify-content-center.mb-5(role='tablist')
                  
                  li.nav-item(role='presentation')
                    button#pills-wtshirt-tab.nav-link.active(data-bs-toggle='pill' data-bs-target='#pills-wtshirt' type='button' role='tab' aria-controls='pills-wtshirt' aria-selected='true') T-Shirt
                  li.nav-item(role='presentation')
                    button#pills-dresses-tab.nav-link(data-bs-toggle='pill' data-bs-target='#pills-dresses' type='button' role='tab' aria-controls='pills-dresses' aria-selected='false') Shirt
                  li.nav-item(role='presentation')
                    button#pills-wshoes-tab.nav-link(data-bs-toggle='pill' data-bs-target='#pills-wshoes' type='button' role='tab' aria-controls='pills-wshoes' aria-selected='false') Shoes
                  li.nav-item(role='presentation')
                    button#pills-wwatch-tab.nav-link(data-bs-toggle='pill' data-bs-target='#pills-wwatch' type='button' role='tab' aria-controls='pills-wwatch' aria-selected='false') Watch 
                  li.nav-item(role='presentation')
                    button#pills-wsunglasses-tab.nav-link(data-bs-toggle='pill' data-bs-target='#pills-wsunglasses' type='button' role='tab' aria-controls='pills-wsunglasses' aria-selected='false') Sunglasses     
                  li.nav-item(role='presentation')
                    button#pills-wbagpacks-tab.nav-link(data-bs-toggle='pill' data-bs-target='#pills-wbagpacks' type='button' role='tab' aria-controls='pills-wbagpacks' aria-selected='false') Bagpacks      
                #pills-tabContentWomen.tab-content
                  //- Women Shirt
                  #pills-dresses.tab-pane.fade(role='tabpanel' aria-labelledby='pills-dresses-tab') 
                    #carouselCategoryDresses.carousel.slide(data-bs-touch="false" data-bs-interval="false")
                      .carousel-inner
                        .carousel-item.active(data-bs-interval='10000')
                          .row.h-100.align-items-center.g-2                
                            +CategoryItems(category[8])                                                                    
                            +CategoryItems(category[9])                                                                    
                            +CategoryItems(category[10])                                                                    
                            +CategoryItems(category[11])                                                                    
                        .carousel-item(data-bs-interval='5000')
                          .row.h-100.align-items-center.g-2                
                            +CategoryItems(category[8])                                                                    
                            +CategoryItems(category[9])                                                                    
                            +CategoryItems(category[10])
                            +CategoryItems(category[11])                     
                        .carousel-item(data-bs-interval='3000')
                          .row.h-100.align-items-center.g-2                                  
                            +CategoryItems(category[8])                                                                    
                            +CategoryItems(category[9])                                                                    
                            +CategoryItems(category[10])
                            +CategoryItems(category[11])                       
                        .carousel-item
                          .row.h-100.align-items-center.g-2          
                            +CategoryItems(category[8])                                                                    
                            +CategoryItems(category[9])                                                                    
                            +CategoryItems(category[10]) 
                            +CategoryItems(category[11])   
                        .row
                          button.carousel-control-prev(type='button' data-bs-target='#carouselCategoryDresses' data-bs-slide='prev')
                            span.carousel-control-prev-icon(aria-hidden='true')
                            span.visually-hidden Previous
                          button.carousel-control-next(type='button' data-bs-target='#carouselCategoryDresses' data-bs-slide='next')
                            span.carousel-control-next-icon(aria-hidden='true')
                            span.visually-hidden Next 
                    .col-12.d-flex.justify-content-center.mt-5                                            
                      a.btn.btn-lg.btn-dark(href='#!') View All 
                  //- Women T-Shirt    
                  #pills-wtshirt.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='pills-wtshirt-tab') 
                    #carouselCategoryWTshirt.carousel.slide(data-bs-touch="false" data-bs-interval="false")
                      .carousel-inner
                        .carousel-item.active(data-bs-interval='10000')
                          .row.h-100.align-items-center.g-2                
                            +CategoryItems(category[0])                                                                    
                            +CategoryItems(category[1])                                                                    
                            +CategoryItems(category[2])                                                                    
                            +CategoryItems(category[3])                                                                    
                        .carousel-item(data-bs-interval='5000')
                          .row.h-100.align-items-center.g-2                
                            +CategoryItems(category[0])                                                                    
                            +CategoryItems(category[1])                                                                    
                            +CategoryItems(category[2])
                            +CategoryItems(category[3])                     
                        .carousel-item(data-bs-interval='3000')
                          .row.h-100.align-items-center.g-2                                  
                            +CategoryItems(category[0])                                                                    
                            +CategoryItems(category[1])                                                                    
                            +CategoryItems(category[2])
                            +CategoryItems(category[3])                       
                        .carousel-item
                          .row.h-100.align-items-center.g-2          
                            +CategoryItems(category[0])                                                                    
                            +CategoryItems(category[1])                                                                    
                            +CategoryItems(category[2]) 
                            +CategoryItems(category[3])   
                        .row
                          button.carousel-control-prev(type='button' data-bs-target='#carouselCategoryWTshirt' data-bs-slide='prev')
                            span.carousel-control-prev-icon(aria-hidden='true')
                            span.visually-hidden Previous
                          button.carousel-control-next(type='button' data-bs-target='#carouselCategoryWTshirt' data-bs-slide='next')
                            span.carousel-control-next-icon(aria-hidden='true')
                            span.visually-hidden Next 
                    .col-12.d-flex.justify-content-center.mt-5                                            
                      a.btn.btn-lg.btn-dark(href='#!') View All   
                  //- Women Shoes
                  #pills-wshoes.tab-pane.fade(role='tabpanel' aria-labelledby='pills-wshoes-tab')
                    #carouselCategoryWShoes.carousel.slide(data-bs-touch="false" data-bs-interval="false")
                      .carousel-inner
                        .carousel-item.active(data-bs-interval='10000')
                          .row.h-100.align-items-center.g-2                
                            +CategoryItems(category[16])                                                                    
                            +CategoryItems(category[17])                                                                    
                            +CategoryItems(category[18])                                                                    
                            +CategoryItems(category[19])                                                                    
                        .carousel-item(data-bs-interval='5000')
                          .row.h-100.align-items-center.g-2                
                            +CategoryItems(category[16])                                                                    
                            +CategoryItems(category[17])                                                                    
                            +CategoryItems(category[18])
                            +CategoryItems(category[19])                     
                        .carousel-item(data-bs-interval='3000')
                          .row.h-100.align-items-center.g-2                                  
                            +CategoryItems(category[16])                                                                    
                            +CategoryItems(category[17])                                                                    
                            +CategoryItems(category[18])
                            +CategoryItems(category[19])                       
                        .carousel-item
                          .row.h-100.align-items-center.g-2          
                            +CategoryItems(category[16])                                                                    
                            +CategoryItems(category[17])                                                                    
                            +CategoryItems(category[18]) 
                            +CategoryItems(category[19])   
                        .row
                          button.carousel-control-prev(type='button' data-bs-target='#carouselCategoryWShoes' data-bs-slide='prev')
                            span.carousel-control-prev-icon(aria-hidden='true')
                            span.visually-hidden Previous
                          button.carousel-control-next(type='button' data-bs-target='#carouselCategoryWShoes' data-bs-slide='next')
                            span.carousel-control-next-icon(aria-hidden='true')
                            span.visually-hidden Next 
                    .col-12.d-flex.justify-content-center.mt-5                                            
                      a.btn.btn-lg.btn-dark(href='#!') View All 
                  //- Women watches
                  #pills-wwatch.tab-pane.fade(role='tabpanel' aria-labelledby='pills-wwatch-tab')
                    #carouselCategoryWwatch.carousel.slide(data-bs-touch="false" data-bs-interval="false")
                      .carousel-inner
                        .carousel-item.active(data-bs-interval='10000')
                          .row.h-100.align-items-center.g-2                
                            +CategoryItems(category[24])                                                                    
                            +CategoryItems(category[25])                                                                    
                            +CategoryItems(category[26])                                                                    
                            +CategoryItems(category[27])                                                                    
                        .carousel-item(data-bs-interval='5000')
                          .row.h-100.align-items-center.g-2                
                            +CategoryItems(category[24])                                                                    
                            +CategoryItems(category[25])                                                                    
                            +CategoryItems(category[26])
                            +CategoryItems(category[27])                     
                        .carousel-item(data-bs-interval='3000')
                          .row.h-100.align-items-center.g-2                                  
                            +CategoryItems(category[24])                                                                    
                            +CategoryItems(category[25])                                                                    
                            +CategoryItems(category[26])
                            +CategoryItems(category[27])                       
                        .carousel-item
                          .row.h-100.align-items-center.g-2          
                            +CategoryItems(category[24])                                                                    
                            +CategoryItems(category[25])                                                                    
                            +CategoryItems(category[26]) 
                            +CategoryItems(category[27])   
                        .row
                          button.carousel-control-prev(type='button' data-bs-target='#carouselCategoryWwatch' data-bs-slide='prev')
                            span.carousel-control-prev-icon(aria-hidden='true')
                            span.visually-hidden Previous
                          button.carousel-control-next(type='button' data-bs-target='#carouselCategoryWwatch' data-bs-slide='next')
                            span.carousel-control-next-icon(aria-hidden='true')
                            span.visually-hidden Next 
                    .col-12.d-flex.justify-content-center.mt-5                                            
                      a.btn.btn-lg.btn-dark(href='#!') View All 
                  //- Sunglasses
                  #pills-wsunglasses.tab-pane.fade(role='tabpanel' aria-labelledby='pills-wsunglasses-tab')
                    #carouselCategoryWSunglasses.carousel.slide(data-bs-touch="false" data-bs-interval="false")
                      .carousel-inner
                        .carousel-item.active(data-bs-interval='10000')
                          .row.h-100.align-items-center.g-2                
                            +CategoryItems(category[32])                                                                    
                            +CategoryItems(category[33])                                                                    
                            +CategoryItems(category[34])                                                                    
                            +CategoryItems(category[35])                                                                    
                        .carousel-item(data-bs-interval='5000')
                          .row.h-100.align-items-center.g-2                
                            +CategoryItems(category[28])                                                                    
                            +CategoryItems(category[29])                                                                    
                            +CategoryItems(category[30])
                            +CategoryItems(category[31])                     
                        .carousel-item(data-bs-interval='3000')
                          .row.h-100.align-items-center.g-2                                  
                            +CategoryItems(category[28])                                                                    
                            +CategoryItems(category[29])                                                                    
                            +CategoryItems(category[30])
                            +CategoryItems(category[31])                       
                        .carousel-item
                          .row.h-100.align-items-center.g-2          
                            +CategoryItems(category[28])                                                                    
                            +CategoryItems(category[29])                                                                    
                            +CategoryItems(category[30]) 
                            +CategoryItems(category[31])   
                        .row
                          button.carousel-control-prev(type='button' data-bs-target='#carouselCategoryWSunglasses' data-bs-slide='prev')
                            span.carousel-control-prev-icon(aria-hidden='true')
                            span.visually-hidden Previous
                          button.carousel-control-next(type='button' data-bs-target='#carouselCategoryWSunglasses' data-bs-slide='next')
                            span.carousel-control-next-icon(aria-hidden='true')
                            span.visually-hidden Next 
                    .col-12.d-flex.justify-content-center.mt-5                                            
                      a.btn.btn-lg.btn-dark(href='#!') View All 
                  #pills-wbagpacks.tab-pane.fade(role='tabpanel' aria-labelledby='pills-wbagpacks-tab')
                    #carouselCategoryWBagpacks.carousel.slide(data-bs-touch="false" data-bs-interval="false")
                      .carousel-inner
                        .carousel-item.active(data-bs-interval='10000')
                          .row.h-100.align-items-center.g-2                
                            +CategoryItems(category[40])                                                                    
                            +CategoryItems(category[41])                                                                    
                            +CategoryItems(category[42])                                                                    
                            +CategoryItems(category[43])                                                                    
                        .carousel-item(data-bs-interval='5000')
                          .row.h-100.align-items-center.g-2                
                            +CategoryItems(category[40])                                                                    
                            +CategoryItems(category[41])                                                                    
                            +CategoryItems(category[42])
                            +CategoryItems(category[43])                     
                        .carousel-item(data-bs-interval='3000')
                          .row.h-100.align-items-center.g-2                                  
                            +CategoryItems(category[40])                                                                    
                            +CategoryItems(category[41])                                                                    
                            +CategoryItems(category[42])
                            +CategoryItems(category[43])                       
                        .carousel-item
                          .row.h-100.align-items-center.g-2          
                            +CategoryItems(category[40])                                                                    
                            +CategoryItems(category[41])                                                                    
                            +CategoryItems(category[42]) 
                            +CategoryItems(category[43])   
                        .row
                          button.carousel-control-prev(type='button' data-bs-target='#carouselCategoryWBagpacks' data-bs-slide='prev')
                            span.carousel-control-prev-icon(aria-hidden='true')
                            span.visually-hidden Previous
                          button.carousel-control-next(type='button' data-bs-target='#carouselCategoryWBagpacks' data-bs-slide='next')
                            span.carousel-control-next-icon(aria-hidden='true')
                            span.visually-hidden Next 
                    .col-12.d-flex.justify-content-center.mt-5                                            
                      a.btn.btn-lg.btn-dark(href='#!') View All 
              //- Men's Item  

              .tab-pane.fade#nav-men(role='tabpanel' aria-labelledby='nav-men-tab') 
                ul#pills-tab-men.nav.nav-pills.mb-5.justify-content-center(role='tablist')
                  li.nav-item(role='presentation')
                    button#pills-tshirt-tab.nav-link.active(data-bs-toggle='pill' data-bs-target='#pills-tshirt' type='button' role='tab' aria-controls='pills-tshirt' aria-selected='true') T-Shirt
                  li.nav-item(role='presentation')
                    button#pills-shirt-tab.nav-link(data-bs-toggle='pill' data-bs-target='#pills-shirt' type='button' role='tab' aria-controls='pills-shirt' aria-selected='false') Shirt
                  li.nav-item(role='presentation')
                    button#pills-shoes-tab.nav-link(data-bs-toggle='pill' data-bs-target='#pills-shoes' type='button' role='tab' aria-controls='pills-shoes' aria-selected='false') Shoes
                  li.nav-item(role='presentation')
                    button#pills-watch-tab.nav-link(data-bs-toggle='pill' data-bs-target='#pills-watch' type='button' role='tab' aria-controls='pills-watch' aria-selected='false') Watch 
                  li.nav-item(role='presentation')
                    button#pills-sunglasses-tab.nav-link(data-bs-toggle='pill' data-bs-target='#pills-sunglasses' type='button' role='tab' aria-controls='pills-sunglasses' aria-selected='false') Sunglasses     
                  li.nav-item(role='presentation')
                    button#pills-bagpacks-tab.nav-link(data-bs-toggle='pill' data-bs-target='#pills-bagpacks' type='button' role='tab' aria-controls='pills-bagpacks' aria-selected='false') Bagpacks      
                #pills-tabContentMen.tab-content
                  //- Men's T-shirt
                  #pills-tshirt.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='pills-tshirt-tab')
                    #carouselCategoryTshirt.carousel.slide(data-bs-touch="false" data-bs-interval="false")
                      .carousel-inner
                        .carousel-item.active(data-bs-interval='10000')
                          .row.h-100.align-items-center.g-2                
                            +CategoryItems(category[4])                                                                    
                            +CategoryItems(category[5])                                                                    
                            +CategoryItems(category[6])                                                                    
                            +CategoryItems(category[7])                                                                    
                        .carousel-item(data-bs-interval='5000')
                          .row.h-100.align-items-center.g-2                
                            +CategoryItems(category[4])                                                                    
                            +CategoryItems(category[5])                                                                    
                            +CategoryItems(category[6])
                            +CategoryItems(category[7])                     
                        .carousel-item(data-bs-interval='3000')
                          .row.h-100.align-items-center.g-2                                  
                            +CategoryItems(category[4])                                                                    
                            +CategoryItems(category[5])                                                                    
                            +CategoryItems(category[6])
                            +CategoryItems(category[7])                       
                        .carousel-item
                          .row.h-100.align-items-center.g-2          
                            +CategoryItems(category[4])                                                                    
                            +CategoryItems(category[5])                                                                    
                            +CategoryItems(category[6]) 
                            +CategoryItems(category[7])   
                        .row
                          button.carousel-control-prev(type='button' data-bs-target='#carouselCategoryTshirt' data-bs-slide='prev')
                            span.carousel-control-prev-icon(aria-hidden='true')
                            span.visually-hidden Previous
                          button.carousel-control-next(type='button' data-bs-target='#carouselCategoryTshirt' data-bs-slide='next')
                            span.carousel-control-next-icon(aria-hidden='true')
                            span.visually-hidden Next 
                    .col-12.d-flex.justify-content-center.mt-5                                            
                      a.btn.btn-lg.btn-dark(href='#!') View All   
                  //- Men's Shirt
                  #pills-shirt.tab-pane.fade(role='tabpanel' aria-labelledby='pills-shirt-tab') 
                    #carouselCategoryShirt.carousel.slide(data-bs-touch="false" data-bs-interval="false")
                      .carousel-inner
                        .carousel-item.active(data-bs-interval='10000')
                          .row.h-100.align-items-center.g-2                
                            +CategoryItems(category[12])                                                                    
                            +CategoryItems(category[13])                                                                    
                            +CategoryItems(category[14])                                                                    
                            +CategoryItems(category[15])                                                                    
                        .carousel-item(data-bs-interval='5000')
                          .row.h-100.align-items-center.g-2                
                            +CategoryItems(category[12])                                                                    
                            +CategoryItems(category[13])                                                                    
                            +CategoryItems(category[14])
                            +CategoryItems(category[15])                     
                        .carousel-item(data-bs-interval='3000')
                          .row.h-100.align-items-center.g-2                                  
                            +CategoryItems(category[12])                                                                    
                            +CategoryItems(category[13])                                                                    
                            +CategoryItems(category[14])
                            +CategoryItems(category[15])                       
                        .carousel-item
                          .row.h-100.align-items-center.g-2          
                            +CategoryItems(category[12])                                                                    
                            +CategoryItems(category[13])                                                                    
                            +CategoryItems(category[14]) 
                            +CategoryItems(category[15])   
                        .row
                          button.carousel-control-prev(type='button' data-bs-target='#carouselCategoryShirt' data-bs-slide='prev')
                            span.carousel-control-prev-icon(aria-hidden='true')
                            span.visually-hidden Previous
                          button.carousel-control-next(type='button' data-bs-target='#carouselCategoryShirt' data-bs-slide='next')
                            span.carousel-control-next-icon(aria-hidden='true')
                            span.visually-hidden Next 
                    .col-12.d-flex.justify-content-center.mt-5                                            
                      a.btn.btn-lg.btn-dark(href='#!') View All 
                    //- Man shoes  
                  //- Men's Shoes
                  #pills-shoes.tab-pane.fade(role='tabpanel' aria-labelledby='pills-shoes-tab')
                    #carouselCategoryShoes.carousel.slide(data-bs-touch="false" data-bs-interval="false")
                      .carousel-inner
                        .carousel-item.active(data-bs-interval='10000')
                          .row.h-100.align-items-center.g-2                
                            +CategoryItems(category[20])                                                                    
                            +CategoryItems(category[21])                                                                    
                            +CategoryItems(category[22])                                                                    
                            +CategoryItems(category[23])                                                                    
                        .carousel-item(data-bs-interval='5000')
                          .row.h-100.align-items-center.g-2                
                            +CategoryItems(category[20])                                                                    
                            +CategoryItems(category[21])                                                                    
                            +CategoryItems(category[22])
                            +CategoryItems(category[23])                     
                        .carousel-item(data-bs-interval='3000')
                          .row.h-100.align-items-center.g-2                                  
                            +CategoryItems(category[20])                                                                    
                            +CategoryItems(category[21])                                                                    
                            +CategoryItems(category[22])
                            +CategoryItems(category[23])                       
                        .carousel-item
                          .row.h-100.align-items-center.g-2          
                            +CategoryItems(category[20])                                                                    
                            +CategoryItems(category[21])                                                                    
                            +CategoryItems(category[22]) 
                            +CategoryItems(category[23])   
                        .row
                          button.carousel-control-prev(type='button' data-bs-target='#carouselCategoryShoes' data-bs-slide='prev')
                            span.carousel-control-prev-icon(aria-hidden='true')
                            span.visually-hidden Previous
                          button.carousel-control-next(type='button' data-bs-target='#carouselCategoryShoes' data-bs-slide='next')
                            span.carousel-control-next-icon(aria-hidden='true')
                            span.visually-hidden Next 
                    .col-12.d-flex.justify-content-center.mt-5                                            
                      a.btn.btn-lg.btn-dark(href='#!') View All 
                  
                  //- Men's Watch
                  #pills-watch.tab-pane.fade(role='tabpanel' aria-labelledby='pills-watch-tab')
                    #carouselCategoryWatch.carousel.slide(data-bs-touch="false" data-bs-interval="false")
                      .carousel-inner
                        .carousel-item.active(data-bs-interval='10000')
                          .row.h-100.align-items-center.g-2                
                            +CategoryItems(category[28])                                                                    
                            +CategoryItems(category[29])                                                                    
                            +CategoryItems(category[30])                                                                    
                            +CategoryItems(category[31])                                                                    
                        .carousel-item(data-bs-interval='5000')
                          .row.h-100.align-items-center.g-2                
                            +CategoryItems(category[28])                                                                    
                            +CategoryItems(category[29])                                                                    
                            +CategoryItems(category[30])
                            +CategoryItems(category[31])                     
                        .carousel-item(data-bs-interval='3000')
                          .row.h-100.align-items-center.g-2                                  
                            +CategoryItems(category[28])                                                                    
                            +CategoryItems(category[29])                                                                    
                            +CategoryItems(category[30])
                            +CategoryItems(category[31])                       
                        .carousel-item
                          .row.h-100.align-items-center.g-2          
                            +CategoryItems(category[28])                                                                    
                            +CategoryItems(category[29])                                                                    
                            +CategoryItems(category[30]) 
                            +CategoryItems(category[31])   
                        .row
                          button.carousel-control-prev(type='button' data-bs-target='#carouselCategoryWatch' data-bs-slide='prev')
                            span.carousel-control-prev-icon(aria-hidden='true')
                            span.visually-hidden Previous
                          button.carousel-control-next(type='button' data-bs-target='#carouselCategoryWatch' data-bs-slide='next')
                            span.carousel-control-next-icon(aria-hidden='true')
                            span.visually-hidden Next 
                    .col-12.d-flex.justify-content-center.mt-5                                            
                      a.btn.btn-lg.btn-dark(href='#!') View All 
                  //- Men's Sunglasses
                  #pills-sunglasses.tab-pane.fade(role='tabpanel' aria-labelledby='pills-sunglasses-tab')
                    #carouselCategorySunglasses.carousel.slide(data-bs-touch="false" data-bs-interval="false")
                      .carousel-inner
                        .carousel-item.active(data-bs-interval='10000')
                          .row.h-100.align-items-center.g-2                
                            +CategoryItems(category[36])                                                                    
                            +CategoryItems(category[37])                                                                    
                            +CategoryItems(category[38])                                                                    
                            +CategoryItems(category[39])                                                                    
                        .carousel-item(data-bs-interval='5000')
                          .row.h-100.align-items-center.g-2                
                            +CategoryItems(category[36])                                                                    
                            +CategoryItems(category[37])                                                                    
                            +CategoryItems(category[38])
                            +CategoryItems(category[39])                     
                        .carousel-item(data-bs-interval='3000')
                          .row.h-100.align-items-center.g-2                                  
                            +CategoryItems(category[36])                                                                    
                            +CategoryItems(category[37])                                                                    
                            +CategoryItems(category[38])
                            +CategoryItems(category[39])                       
                        .carousel-item
                          .row.h-100.align-items-center.g-2          
                            +CategoryItems(category[36])                                                                    
                            +CategoryItems(category[37])                                                                    
                            +CategoryItems(category[38]) 
                            +CategoryItems(category[39])   
                        .row
                          button.carousel-control-prev(type='button' data-bs-target='#carouselCategorySunglasses' data-bs-slide='prev')
                            span.carousel-control-prev-icon(aria-hidden='true')
                            span.visually-hidden Previous
                          button.carousel-control-next(type='button' data-bs-target='#carouselCategorySunglasses' data-bs-slide='next')
                            span.carousel-control-next-icon(aria-hidden='true')
                            span.visually-hidden Next 
                    .col-12.d-flex.justify-content-center.mt-5                                            
                      a.btn.btn-lg.btn-dark(href='#!') View All 
                  //- Men's Bagpacks
                  #pills-bagpacks.tab-pane.fade(role='tabpanel' aria-labelledby='pills-bagpacks-tab')
                    #carouselCategoryBagpacks.carousel.slide(data-bs-touch="false" data-bs-interval="false")
                      .carousel-inner
                        .carousel-item.active(data-bs-interval='10000')
                          .row.h-100.align-items-center.g-2                
                            +CategoryItems(category[44])                                                                    
                            +CategoryItems(category[45])                                                                    
                            +CategoryItems(category[46])                                                                    
                            +CategoryItems(category[47])                                                                    
                        .carousel-item(data-bs-interval='5000')
                          .row.h-100.align-items-center.g-2                
                            +CategoryItems(category[44])                                                                    
                            +CategoryItems(category[45])                                                                    
                            +CategoryItems(category[46])
                            +CategoryItems(category[47])                     
                        .carousel-item(data-bs-interval='3000')
                          .row.h-100.align-items-center.g-2                                  
                            +CategoryItems(category[44])                                                                    
                            +CategoryItems(category[45])                                                                    
                            +CategoryItems(category[46])
                            +CategoryItems(category[47])                       
                        .carousel-item
                          .row.h-100.align-items-center.g-2          
                            +CategoryItems(category[44])                                                                    
                            +CategoryItems(category[45])                                                                    
                            +CategoryItems(category[46]) 
                            +CategoryItems(category[47])   
                        .row
                          button.carousel-control-prev(type='button' data-bs-target='#carouselCategoryBagpacks' data-bs-slide='prev')
                            span.carousel-control-prev-icon(aria-hidden='true')
                            span.visually-hidden Previous
                          button.carousel-control-next(type='button' data-bs-target='#carouselCategoryBagpacks' data-bs-slide='next')
                            span.carousel-control-next-icon(aria-hidden='true')
                            span.visually-hidden Next 
                    .col-12.d-flex.justify-content-center.mt-5                                            
                      a.btn.btn-lg.btn-dark(href='#!') View All             