append variables
  -   
    var plugins = [
      {
        title: 'Anchor.js',
        description: `A JavaScript utility for adding deep anchor links to existing page content. AnchorJS is lightweight, accessible, and has no dependencies.`,
        //- implementationUrl: `${CWD}${paths['components-anchor']}`,
        documentationUrl: 'https://www.bryanbraun.com/anchorjs/#basic-usage'
      },
      {
        title: 'Dayjs',
        description: 'Day.js 2KB immutable date-time library alternative to Moment.js with the same modern API.',
        documentationUrl: 'https://day.js.org/docs/en/installation/installation'
      },
      {
        title: 'Echarts.js',
        description: 'A powerful, interactive charting and visualization library for browser.',
        //- implementationUrl: `${CWD}${paths['echart-how-to-use']}`,       
        documentationUrl: 'https://echarts.apache.org/en/option.html'
      },
      {
        title: 'FontAwesome 5',
        description: 'Get vector icons and social logos on your website with Font Awesome, the web\'s most popular icon set and toolkit.',
        documentationUrl: 'https://fontawesome.com/how-to-use/on-the-web/referencing-icons/basic-use'
      },
      {
        title: 'List.js',
        description: 'Tiny, invisible and simple, yet powerful and incredibly fast vanilla JavaScript that adds search, sort, filters and flexibility to plain HTML lists, tables, or anything.',
        //- implementationUrl: `${CWD}${paths['advance-tables']}`,
        documentationUrl: 'https://listjs.com/'
      },
      {
        title: 'Lodash',
        description: 'A modern JavaScript utility library delivering modularity, performance, &amp; extras.',
        documentationUrl: 'https://lodash.com'
      },
      {
        title: 'Is.js',
        description: 'Micro check plugin. Check types, regexps, presence, time and more...',
        documentationUrl: 'http://is.js.org/'
      },
      {
        title: 'Leaflet Map',
        description: `JavaScript library for mobile-friendly interactive maps`,
        //- implementationUrl: `${CWD}${paths['leaflet-map']}`,
        documentationUrl: 'https://leafletjs.com/'
      }
    ].sort((a,b) => a.title > b.title ? 1 : a.title < b.title ? -1 : 0)

mixin Plugin(config)
  .card.shadow-none.border.border-300.my-3
    .card-header.border-bottom.border-300.bg-soft
      h5.mb-0(data-anchor)=config.title 
    .card-body
      p!=config.description
      if(config.implementationUrl)
        a(href=config.implementationUrl).font-sans-serif Implementation in theme
        |  - 
      if(config.documentationUrl) 
        a(href=config.documentationUrl target='_blank').font-sans-serif Full Documentation

mixin Plugins
  each plugin in plugins
    +Plugin(plugin)