include Search

mixin LinkLooper(config)
  if config.title
    p.nav-link.text-700.mb-0.fw-bold=config.title
  each page in config.vars
    - var pageName = page.label ? page.label : page.name
    if config.dropdownItem
      a.dropdown-item.link-600.fw-medium(href=page.name !== 'modal' ? `${CWD}${page.path}.html` : `${CWD}${page.path}` data-bs-toggle=page.name ==="modal" ? 'modal' : false)
        +cleanText(pageName)
        if page.badge
          span.badge.rounded-pill.ms-2(class=`badge-soft-${page.badge.type}`)=page.badge.text

    else
      a.nav-link.py-1.link-600.fw-medium(href=page.name !== 'modal' ? `${CWD}${page.path}.html` : `${CWD}${page.path}` data-bs-toggle=page.name ==="modal" ? 'modal' : false)
        +cleanText(pageName)
        if page.badge
          span.badge.rounded-pill.ms-2(class=`badge-soft-${page.badge.type}`)=page.badge.text



mixin NewTopNav(vars)
  ul.navbar-nav(data-top-nav-dropdowns)
    each item,index in vars.combo? sitemap.slice(0,5) : sitemap
      li.nav-item.dropdown
        if item.label
          a.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false' id=`${item.label}s`)
            +cleanText(item.label)
        .dropdown-menu.dropdown-menu-card.border-0.mt-0(aria-labelledby=id=`${item.label}s`)
          case item.label
            when 'dashboard'
              .bg-white.dark__bg-1000.rounded-3.py-2
                +LinkLooper({dropdownItem: true,vars:item.pages[0].pages})
            when 'app'
              - var routesCollection = [];
              -
                item.pages.map((page)=>{
                  if(page.pages){
                    page.pages.map((childrenPage)=>{
                      if(childrenPage.pages){
                        childrenPage.pages.map((grandChild)=>{
                          routesCollection.push(grandChild)
                        })
                      } else {
                        routesCollection.push(childrenPage)
                      }
                    })
                  } else{
                    return routesCollection.push(page)
                  }
                })
              .card.navbar-card-app.shadow-none.dark__bg-1000
                .card-body.scrollbar.max-h-dropdown
                  img(src=`${CWD}assets/img/icons/spot-illustrations/authentication-corner.png`, width="130" alt="").img-dropdown
                  .row
                    .col-6.col-md-5
                      .nav.flex-column
                        +LinkLooper({vars:routesCollection.slice(0,2)})
                        +LinkLooper({vars:routesCollection.slice(19, 20)})
                        +LinkLooper({title:"Email",vars:routesCollection.slice(2,5)})
                        +LinkLooper({title:"Events",vars:routesCollection.slice(5,8)})
                        +LinkLooper({title:"Social",vars:routesCollection.slice(20,24)})
                    .col-6.col-md-4
                      .nav.flex-column
                        +LinkLooper({title:"E-Commerce",vars:routesCollection.slice(8,19)})


            when 'pages'
              - var routesCollection = [];
              -
                item.pages.map((page)=>{
                  if(page.pages){
                    page.pages.map((childrenPage)=>{
                      if(childrenPage.pages){
                        childrenPage.pages.map((grandChild)=>{
                          routesCollection.push(grandChild)
                        })
                      } else {
                        routesCollection.push(childrenPage)
                      }
                    })
                  } else{
                    return routesCollection.push(page)
                  }
                })

              .card.navbar-card-pages.shadow-none.dark__bg-1000
                .card-body.scrollbar.max-h-dropdown
                  img(src=`${CWD}assets/img/icons/spot-illustrations/authentication-corner.png`, width="130" alt="").img-dropdown

                  .row
                    .col-6.col-xxl-3
                      .nav.flex-column
                        +LinkLooper({title:"Simple Auth",vars:routesCollection.slice(2,9)})
                    .col-6.col-xxl-3
                      .nav.flex-column
                        +LinkLooper({title:"Card Auth",vars:routesCollection.slice(9,16)})
                    .col-6.col-xxl-3
                      .nav.flex-column
                        +LinkLooper({title:"Split Auth",vars:routesCollection.slice(16,23)})
                    .col-6.col-xxl-3
                      .nav.flex-column
                        +LinkLooper({title:"Other Auth",vars:routesCollection.slice(23,25)})
                        +LinkLooper({title:"Miscellaneous",vars:routesCollection.slice(34,37)}) 
                        
                  .row
                    .col-6.col-xxl-3
                      .nav.flex-column
                        +LinkLooper({title:"User",vars:routesCollection.slice(25,27)})

                    .col-6.col-xxl-3
                      .nav.flex-column
                        +LinkLooper({title:"Pricing",vars:routesCollection.slice(27,29)})
                        
                    .col-6.col-xxl-3
                      .nav.flex-column
                        +LinkLooper({title:"Errors",vars:routesCollection.slice(32,34)})

                    .col-6.col-xxl-3
                      .nav.flex-column
                        +LinkLooper({title:"Others",vars:routesCollection.slice(0,2)})
                        
            when 'modules'
              - var routesCollection = [];
              -
                item.pages.map((page)=>{
                  if(page.pages){
                    page.pages.map((childrenPage)=>{
                      if(childrenPage.pages){
                        childrenPage.pages.map((grandChild)=>{
                          routesCollection.push(grandChild)
                        })
                      } else {
                        routesCollection.push(childrenPage)
                      }
                    })
                  } else{
                    return routesCollection.push(page)
                  }
                })
              .card.navbar-card-components.shadow-none.dark__bg-1000
                .card-body.scrollbar.max-h-dropdown

                  img(src=`${CWD}assets/img/icons/spot-illustrations/authentication-corner.png`, width="130" alt="").img-dropdown

                  .row
                    .col-6.col-xxl-3
                      .nav.flex-column
                        +LinkLooper({title:"Components",vars:routesCollection.slice(34,45)})
                    .col-6.col-xxl-3
                      .nav.flex-column.mt-md-4.pt-md-1
                        +LinkLooper({vars:routesCollection.slice(45,56)})
                    .col-6.col-xxl-3
                      .nav.flex-column.mt-xxl-4.pt-xxl-1
                        +LinkLooper({vars:routesCollection.slice(56,67)})
                    .col-6.col-xxl-3
                      .nav.flex-column.mt-xxl-4.pt-xxl-1
                        +LinkLooper({vars:routesCollection.slice(67,78)})

                  .row
                    .col-6.col-xxl-3
                      .nav.flex-column
                        +LinkLooper({title:"Forms",vars:routesCollection.slice(0,15)})
                    .col-6.col-xxl-3
                      .nav.flex-column
                        +LinkLooper({title:"Tables",vars:routesCollection.slice(15,18)})
                        +LinkLooper({title:"Charts",vars:routesCollection.slice(18,19)})
                        +LinkLooper({title:"ECharts",vars:routesCollection.slice(19,28)})
                    .col-6.col-xxl-3
                      .nav.flex-column
                        +LinkLooper({title:"Utilities",vars:routesCollection.slice(78,94)})
                    .col-6.col-xxl-3
                      .nav.flex-column.mt-xxl-4.pt-xxl-1
                        +LinkLooper({title:"Icons",vars:routesCollection.slice(28,32)})
                        +LinkLooper({title:"Maps",vars:routesCollection.slice(32,34)})

            when 'documentation'
              - var routesCollection = [];
              -
                item.pages.map((page)=>{
                  if(page.pages){
                    page.pages.map((childrenPage)=>{
                      if(childrenPage.pages){
                        childrenPage.pages.map((grandChild)=>{
                          routesCollection.push(grandChild)
                        })
                      } else {
                        routesCollection.push(childrenPage)
                      }
                    })
                  } else{
                    return routesCollection.push(page)
                  }
                })
              .bg-white.dark__bg-1000.rounded-3.py-2
                +LinkLooper({dropdownItem: true, vars:routesCollection})

            default
              p You have #{friends} friends

mixin NavbarSearch
  //- ul.navbar-nav
  //-   li.nav-item
  +Search({placeholder:'Search...',inputClass:'min-h-auto'}).d-none.d-lg-block

mixin NavbarBrand(config)
  - var config = Object.assign({ image: true }, config)
  //- a(href=`/`).navbar-brand&attributes(attributes)
  a(href=`${CWD}${paths['default-dashboard']}`).navbar-brand&attributes(attributes)
    if config.image
      .d-flex.align-items-center(class=config.wrapperClass)
        +Logo({textClass:'d-none d-sm-block'})
    else
      span(class=`${config.color}`) #{name}

mixin NavbarToggleIcon(config)
  = '\n'
  button.btn.navbar-toggler.navbar-toggler-humburger-icon&attributes(attributes)
    span.navbar-toggle-icon
      span.toggle-line
  = '\n'

mixin NavbarIcons
  ul.navbar-nav.navbar-nav-icons.ms-auto.flex-row
    li.nav-item.dropdown
      = '\n'
      a#navbarDropdownNotification.nav-link(href='#' role='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        span.text-700(data-feather='bell' style="height:20px;width:20px;")
      = '\n'
    li.nav-item.dropdown
      = '\n'
      a#navbarDropdownSettings.nav-link.notification-indicator.notification-indicator-primary(href='#' role='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        span.text-700(data-feather='settings' style="height:20px;width:20px;")
      = '\n'
    li.nav-item.dropdown
      = '\n'
      a#navbarDropdownNindeDots.nav-link(href='#' role='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        svg(width='16', height='16', viewbox='0 0 16 16', fill='none', xmlns='http://www.w3.org/2000/svg')
          circle(cx='2', cy='2', r='2', fill='#6C6E71')
          circle(cx='2', cy='8', r='2', fill='#6C6E71')
          circle(cx='2', cy='14', r='2', fill='#6C6E71')
          circle(cx='8', cy='8', r='2', fill='#6C6E71')
          circle(cx='8', cy='14', r='2', fill='#6C6E71')
          circle(cx='14', cy='8', r='2', fill='#6C6E71')
          circle(cx='14', cy='14', r='2', fill='#6C6E71')
          circle(cx='8', cy='2', r='2', fill='#6C6E71')
          circle(cx='14', cy='2', r='2', fill='#6C6E71')
      = '\n'
      +NineDotsDropdown
    li.nav-item.dropdown
      a#navbarDropdownUser.nav-link.lh-1.px-0.ms-5(href='#' role='button' data-bs-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        +Avatar({img: 'team/57.png', size: 'l', status: '', round: 'circle'})
      +ProfileDropdown

      

mixin NavbarLogo(toggleID)
  .navbar-logo
    +NavbarToggleIcon(type='button' data-bs-toggle='collapse' data-bs-target=`#${toggleID}`, aria-controls=toggleID, aria-expanded='false' aria-label='Toggle Navigation')
      span.navbar-toggler-icon
    +NavbarBrand.me-1.me-sm-3



mixin ProfileDropdown 
  .dropdown-menu.dropdown-menu-end.py-0.dropdown-profile.shadow.border.border-300(aria-labelledby='navbarDropdownUser')
    .card.bg-white.position-relative.border-0
      .card-body.p-0.overflow-auto.scrollbar(style="height: 18rem;")
        .text-center.pt-4.pb-3
          +Avatar({img: 'team/57.png', size: 'xl', status: '', round: 'circle'})
          h6.mt-2 Jerry Seinfield
        .mb-3.mx-3
          input#statusUpdateInput.form-control.form-control-sm(type='text', placeholder='Update your status')

        ul.nav.d-flex.flex-column.mb-2.pb-1
          li.nav-item
            a.nav-link.px-3(href="#!")  
              span.me-2.text-900(data-feather="user")
              | Profile
          li.nav-item
            a.nav-link.px-3(href="#!")  
              span.me-2.text-900(data-feather="pie-chart")
              | Dashboard
          li.nav-item
            a.nav-link.px-3(href="#!")  
              span.me-2.text-900(data-feather="lock")
              | Posts &amp; Activity
          li.nav-item
            a.nav-link.px-3(href="#!")  
              span.me-2.text-900(data-feather="settings")
              | Settings &amp; Privacy 
          li.nav-item
            a.nav-link.px-3(href="#!")  
              span.me-2.text-900(data-feather="help-circle")
              | Help Center
          li.nav-item
            a.nav-link.px-3(href="#!")  
              span.me-2.text-900(data-feather="globe")
              | Language

      .card-footer.p-0.border-top    
        ul.nav.d-flex.flex-column.my-3
          li.nav-item
            a.nav-link.px-3(href="#!")  
              span.me-2.text-900(data-feather="user-plus")
              | Add another account

        hr
        .px-3 
          a.btn.btn-phoenix-secondary.d-flex.flex-center.w-100(href="#!") 
            span.me-2(data-feather="log-out") 
            | Sign out

        .my-2.text-center.fw-bold.fs--2.text-600
          a.text-600.me-1(href="#!") Privacy policy
          | &bull;
          a.text-600.mx-1(href="#!") Terms
          | &bull;
          a.text-600.ms-1(href="#!") Cookies

mixin NineDotsMenuItem(config)
  - var config = Object.assign({ title:'title', contentClass:'', link: '#!', width:'30'}, config);
  .col-4
    a.d-block.hover-bg-200.p-2.rounded-3.text-center.text-decoration-none.mb-3(href=`${config.link}` target='_blank')
      img(src=`${CWD}assets/img/${config.img}` alt='' width=`${config.width}`)
      p.mb-0.text-black.text-truncate.fs--2.mt-1(class=`${config.img || config.icon ? 'pt-1' : ''}`)=config.title


mixin NineDotsDropdown
  .dropdown-menu.dropdown-menu-end.py-0.dropdown-nide-dots.shadow.border.border-300(aria-labelledby='navbarDropdownNindeDots')
    .card.bg-white.position-relative.border-0
      .card-body.pt-3.px-3.pb-0.overflow-auto.scrollbar(style="height: 20rem;")
        .row.text-center.align-items-center.gx-0.gy-0
          -
            var brands = [
              {img: 'nav-icons/behance.png', title: 'Behance'},
              {img: 'nav-icons/google-cloud.png', title: 'Cloud'},
              {img: 'nav-icons/slack.png', title: 'Slack'},
              {img: 'nav-icons/github.png', title: 'Github'},
              {img: 'nav-icons/bitbucket.png', title: 'BitBucket'},
              {img: 'nav-icons/google-drive.png', title: 'Drive'},
              {img: 'nav-icons/trello.png', title: 'Trello'},
              {img: 'nav-icons/figma.png', title: 'Figma', width: '20'},
              {img: 'nav-icons/twitter.png', title: 'Twitter'},
              {img: 'nav-icons/pinterest.png', title: 'Pinterest'},
              {img: 'nav-icons/linkedin.png', title: 'Linkedin'},
              {img: 'nav-icons/google-maps.png', title: 'Maps'},
              {img: 'nav-icons/google-photos.png', title: 'Photos'},
              {img: 'nav-icons/spotify.png', title: 'Spotify'},
            ];
            
          each item in brands 
            +NineDotsMenuItem(item)

          