mixin Summer
  +Section.py-0#outlet
    .row.h-100.g-0
      .col-md-6
        .card.card-span.h-100.text-white
          img.card-img(src=`${CWD}assets/img/gallery/summer.png` alt='...').h-100
          .card-img-overlay.bg-dark-gradient.rounded-0
            .p-5.p-md-2.p-xl-5.d-flex.flex-column.flex-end-center.align-items-baseline.h-100
              h1.fs-md-4.fs-lg-7.text-light Summer of '21 
          a.stretched-link(href='#!')
      .col-md-6.h-100 
        .row.h-100.g-0 
          .col-md-6.h-100
            .card.card-span.h-100.text-white
              img.card-img(src=`${CWD}assets/img/gallery/sunglasses.png` alt='...').h-100
              .card-img-overlay.bg-dark-gradient.rounded-0
                .p-5.p-xl-5.p-md-0
                  h3.text-light Sunglasses
              a.stretched-link(href='#!')
          .col-md-6
            .card.card-span.h-100.text-white
              img.card-img(src=`${CWD}assets/img/gallery/footwear.png` alt='...').h-100
              .card-img-overlay.bg-dark-gradient.rounded-0
                .p-5.p-xl-5.p-md-0
                  h3.text-light Footwear
              a.stretched-link(href='#!')
          .col-md-6
            .card.card-span.h-100.text-white
              img.card-img(src=`${CWD}assets/img/gallery/hat-black-border.png` alt='...').h-100
              .card-img-overlay.bg-dark-gradient.rounded-0
                .p-5.p-xl-5.p-md-0
                  h3.text-light Hat
              a.stretched-link(href='#!')
          .col-md-6
            .card.card-span.h-100.text-white
              img.card-img(src=`${CWD}assets/img/gallery/watches.png` alt='...').h-100
              .card-img-overlay.bg-dark-gradient.rounded-0
                .p-5.p-xl-5.p-md-0
                  h3.text-light Watches
              a.stretched-link(href='#!')            