mixin Avatar(config)
  - var config = Object.assign({size: '2xl', round: 'circle', img: 'team/avatar-placeholder.png', contentClass: ''}, config)
  .avatar(class=`${config.status ? `avatar-${config.size} status-${config.status}` : `avatar-${config.size}`} ${config.bordered ? 'avatar-bordered' : ''}`)&attributes(attributes)
    if config.name
      .avatar-name(class=`rounded-${config.round}`)
        span
          +getFirstLetter(config.name)
    else if config.more
      .avatar-name(class=`rounded-${config.round} ${config.contentClass}`)
        span=config.more
    else if config.emoji
      .avatar-emoji(class=`rounded-${config.round} ${config.contentClass}`)
        span(role='img' aria-label='Emoji')!=config.emoji
    else if config.icon
      .avatar-name(class=`rounded-${config.round} ${config.contentClass}`)
        span!=config.icon
    else if config.type === 'group'
      .rounded-circle.overflow-hidden.h-100.d-flex
        .w-50.border-end
          img(src=`${CWD}assets/img/${config.img[0]}`, alt="")
        .w-50.d-flex.flex-column
          img(src=`${CWD}assets/img/${config.img[1]}`, alt="").h-50.border-bottom
          img(src=`${CWD}assets/img/${config.img[2]}`, alt="").h-50

    else if config.img
      = '\n'
      img(src=`${CWD}assets/img/${config.img}` alt='' class=`rounded-${config.round}`)
      = '\n'